@model TesteDesenvolvedorAspNet.Models.Cliente

@{
    ViewBag.Title = "EditarCliente";
}

<h2>EditarCliente</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdCliente)

        <div class="form-group">
            @Html.LabelFor(model => model.NomeCliente, "Nome Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            var grid1 = new WebGrid(source: Model.Produtos, canPage: true, defaultSort: "IdProduto", rowsPerPage: 5, canSort: true);
        }
        <br />
        @grid1.GetHtml(
        tableStyle: "table",
        htmlAttributes: new { id = "GridProdutosCliente" },
        fillEmptyRows: true,
        alternatingRowStyle: "alt",
        headerStyle: "",
        footerStyle: "",
        mode: WebGridPagerModes.All,
        firstText: "<< Primeiro",
        previousText: " < Anterior",
        nextText: "Próximo >",
        lastText: "Último >>",
        caption: "Produtos do Cliente",
        emptyRowCellValue: null,
        columns: new[]{
            grid1.Column("IdProduto",header:"ID",style:"text-align-left"),
            grid1.Column("NomeProduto",header:"Nome") }
)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" /> |
                @Html.ActionLink("Retornar", "Index", null, htmlAttributes: new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
