@model IEnumerable<TesteDesenvolvedorAspNet.Models.Cliente>

@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(source: Model, canPage: true, defaultSort: "IdCliente", rowsPerPage: 5, canSort: true);
}
<br />
<span id="erroAdicionar" style="display:none;" class="alert alert-danger">@TempData["ErroProdutos"]</span>
<br />
@grid.GetHtml(
tableStyle: "table",
htmlAttributes: new { id = "Gridclientes" },
fillEmptyRows: true,
alternatingRowStyle: "alt",
headerStyle: "",
footerStyle: "",
mode: WebGridPagerModes.All,
firstText: "<< Primeiro",
previousText: " < Anterior",
nextText: "Próximo >",
lastText: "Último >>",
caption: "Detalhes do Usuário",
emptyRowCellValue: null,
columns: new[]{
    grid.Column("IdCliente",header:"ID",style:"text-align-left"),
    grid.Column("NomeCliente",header:"Nome"),
    grid.Column("Email",header:"Email"),
    grid.Column("",header: "Ações",format: @<text>
    @Html.ActionLink("Produtos",  "ProdutosCliente", "Produto",new { id = item.IdCliente },null)
    |
    @Html.ActionLink("Editar", "EditarCliente", new { id = item.IdCliente })
    |
    @Html.ActionLink("Deletar", "DeletarCliente", new { id = item.IdCliente })
    </text>)
}
)
<p>
    @Html.ActionLink("Novo cliente", "AdicionarCliente", null, new { @class = "btn btn-primary" })
</p>

<script>
    document.onreadystatechange = function () {
        if (document.readyState === 'complete') {
            if (document.getElementById('erroAdicionar').textContent != '') {
                document.getElementById('erroAdicionar').style.display = 'block';
            }
        }
    }
</script>