@model TesteDesenvolvedorAspNet.Models.Produto

@{
    ViewBag.Title = "DeletarProduto";
}

<h2>DeletarProduto</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <span id="erroExcluir" style="display:none;" class="alert alert-danger">@TempData["ErroExcluir"]</span>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IdProduto)
        @Html.HiddenFor(model => model.IdCliente)
        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-success" })
        </div>
    }
</div>
<script>
    document.onreadystatechange = function () {
        if (document.readyState === 'complete') {
            if (document.getElementById('erroExcluir').textContent != '') {
                document.getElementById('erroExcluir').style.display = 'block';
            }
        }
    }
</script>